<div class="col-12 px-0">
  <form class="registration-form">
    <div class="row mx-0 px-0">
      <div class="col-12">
        <h6 class="font-weight-bolder text-uppercase">Campaigns search settings</h6>
      </div>
      <div class="col-3">
        <label class="pt-2">Program</label>
        <rasputin-dropdown></rasputin-dropdown>
        <label class="pt-2">White label</label>
        <rasputin-dropdown></rasputin-dropdown>
      </div>
      <div class="col-3">
        <label class="pt-2">Campaign</label>
        <rasputin-dropdown></rasputin-dropdown>
        <label class="pt-2">Show stats per</label>
        <rasputin-dropdown></rasputin-dropdown>
      </div>
      <div class="col-3">
        <label class="pt-2">Choose your role</label>
        <rasputin-dropdown></rasputin-dropdown>
        <label class="pt-2">Source</label>
        <rasputin-dropdown></rasputin-dropdown>
      </div>
      <div class="col-3">
        <label class="pt-2">Quick select</label>
        <rasputin-dropdown></rasputin-dropdown>
        <label class="pt-2">Select by Date range</label>
        <rasputin-dropdown></rasputin-dropdown>
      </div>
      <div class="col-3">
        <button type="button" (click)="submitForm()"
                class="btn btn-block btn-rasputin mt-4 text-light font-weight-bolder">Submit!
        </button>
      </div>
    </div>
  </form>
</div>
