<div class="col-12 px-0 position-absolute header-wrapper">
  <div class="container-fluid px-0">
    <app-header></app-header>
  </div>
</div>
<div>
  <div class="container-fluid px-0 content-wrapper">
    <div class="carousel-block">
      <!--non-physical carousel-block-->
      <div class="non-physical-carousel position-absolute background-carousel">
        <!--made it as angular component with background image url as input data-->
        <div class="carousel-element">
        </div>
      </div>
      <!--physical carousel-block-->
      <div class="physical-carousel col-xl-12 row px-lg-0 pl-md-4 ml-0">
        <div class="col-xl-8 col-lg-10 col-md-12 mx-auto mt-5 pt-5">
          <h1 class="display-4 text-light mt-lg-3 mt-md-5">
            <span class="font-weight-bold">Get Rich</span><br>
            with Rasputin Online
          </h1>
          <div class="border-left border-danger bg-dark pl-3 col-md-7 py-3">
            <h5 class="text-light font-weight-bolder">The first <span class="text-danger">Voyeur + webcam</span>
              entertaimnent project
              <span class="text-danger">First adult ICO</span> project that did go live</h5>
          </div>
          <div class="mt-4">
            <a class="btn btn-lg btn-rasputin text-uppercase font-weight-bold px-5 py-2 text-light"
               (click)="showAuthForm()">Register now</a>
          </div>
        </div>
      </div>

      <!--finished carousel block with white wave-->
      <div class=" position-absolute carousel-wave">
      </div>
    </div>

    <div class="intro-block col-xl-12 px-0 bg-light">
      <div class="col-xl-10 col-lg-11 col-md-12 offset-xl-2 offset-lg-1 offset-md-0 row pr-lg-2 pr-md-0">
        <div class="col-lg-6 col-md-7 mt-xl-5 mt-lg-2 px-lg-0 pl-md-4">
          <h1 class="text-dark">
            Rasputin Cash – is the
            affiliate program for
            Rasputin Online
          </h1>
          <h6 class="text-dark lh-high mt-4">
            RasputinOnline is a first in class hybrid of a voyeur and webcam entertainment project. This is the first
            adult ICO project which went live.<br>
            Our fresh concept in entertainment for adults is centred around 60 hot models living in a house filled with
            cameras in all living and party areas.
          </h6>
          <h6 class="text-dark lh-high mt-4">
            Within the house there are 30 Live Show rooms, where our models perform on camera broadcast to a live
            audience. Viewers can chat in an open chat room and tip the model at anytime or they can engage in a private
            show with the model. Its never dull in the house with hot chicks!
          </h6>
        </div>
        <div class="col-lg-6 col-md-5 intro-image d-flex flex-row justify-content-start align-items-end">
          <img src="./../assets/images/environment/girl-on-logo.png" alt="">
        </div>
      </div>
    </div>

    <!--non-physical pink-wave block-->
    <div class="position-absolute pink-wave">
      <div class="position-absolute container-fluid">
        <h1 class="text-dark font-weight-bold text-center pink-text">Earning options</h1>
      </div>
      <img src="./../assets/images/environment/background-pink-wave.png" alt="">
    </div>

    <!--Earning-block-->
    <div class="earning-block bg-light pt-5 d-flex flex-column justify-content-end">
      <div class="container-fluid earning-background px-xl-2 px-lg-0 px-md-0">
        <div class="col-xl-11 col-lg-12 col-md-12 mx-auto pl-xl-0 pl-lg-0 pl-md-0 pr-xl-5 pr-lg-3 pr-md-0">
          <div class="d-flex flex-row justify-content-between">
            <img class="earning-photo earning-mobile-transition-left"
                 src="./../assets/images/environment/girl-with-money.png" alt="">
            <img class="earning-photo earning-mobile-transition-right"
                 src="./../assets/images/environment/girl-with-bit.png" alt="">
          </div>
        </div>
      </div>
      <div class="earning-content px-0">
        <div class="col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="col-xl-10 col-lg-12 col-md-12 px-0 row mx-auto">
            <div class="offset-md-1 col-md-2 px-2 text-center">
              <div class="volume-danger border border-light rounded-strong">
                <div class="condition-name">
                  <h6 class="font-weight-bold m-2 text-dark text-uppercase">revenue<br> share</h6>
                </div>
                <div class="condition-info bg-danger text-light text-uppercase rounded-bottom-strong">
                  <h6 class="pt-2 mb-0 small">Up to</h6>
                  <h1 class="display-4 mb-0 mt-1 font-weight-bold">30$</h1>
                  <h6 class="pt-1 mb-0 px-1 small text-lowercase">of what your<br>members spend.<br>Lifetime!</h6>
                </div>
              </div>
            </div>
            <div class="col-md-2 px-2 text-center">
              <div class="volume-danger border border-light rounded-strong">
                <div class="condition-name">
                  <h6 class="font-weight-bold m-2 text-dark text-uppercase">per<br> signup</h6>
                </div>
                <div class="condition-info bg-danger text-light text-uppercase rounded-bottom-strong">
                  <h6 class="pt-2 mb-0 small">Up to</h6>
                  <h1 class="display-4 mb-0 mt-1 font-weight-bold">2$</h1>
                  <h6 class="pt-1 mb-0 px-1 small text-lowercase">for member registration</h6>
                </div>
              </div>
            </div>
            <div class="col-md-2 px-2 text-center">
              <div class="volume-danger border border-light rounded-strong">
                <div class="condition-name">
                  <h6 class="font-weight-bold m-2 text-dark text-uppercase">per<br> sale</h6>
                </div>
                <div class="condition-info bg-danger text-light text-uppercase rounded-bottom-strong">
                  <h6 class="pt-2 mb-0 small">Up to</h6>
                  <h1 class="display-4 mb-0 mt-1 font-weight-bold">15$</h1>
                  <h6 class="pt-1 mb-0 px-1 small text-lowercase">for first member purchase</h6>
                </div>
              </div>
            </div>
            <div class="col-md-2 px-2 text-center">
              <div class="volume-danger border border-light rounded-strong">
                <div class="condition-name">
                  <h6 class="font-weight-bold m-2 text-dark text-uppercase">model<br> revshare</h6>
                </div>
                <div class="condition-info bg-danger text-light text-uppercase rounded-bottom-strong">
                  <h6 class="pt-2 mb-0 small">Up to</h6>
                  <h1 class="display-4 mb-0 mt-1 font-weight-bold">15%</h1>
                  <h6 class="pt-1 mb-0 px-1 small text-lowercase">from your<br>referred models.<br>Lifetime!</h6>
                </div>
              </div>
            </div>
            <div class="col-md-2 px-2 text-center">
              <div class="volume-danger border border-light rounded-strong">
                <div class="condition-name">
                  <h6 class="font-weight-bold m-2 text-dark text-uppercase">affiliate<br> revshare</h6>
                </div>
                <div class="condition-info bg-danger text-light text-uppercase rounded-bottom-strong">
                  <h6 class="pt-2 mb-0 small">Up to</h6>
                  <h1 class="display-4 mb-0 mt-1 font-weight-bold">5%</h1>
                  <h6 class="pt-1 mb-0 px-2 pb-3 small text-lowercase">what your referred affiliates</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-8 mx-auto">
          <div class="text-center col-xl-10 col-lg-10 col-md-7 mx-auto">
            <h1 class="text-dark font-weight-bold mt-5">Payments</h1>
            <h4 class="text-dark mt-3">As easy as pie! <span class="font-weight-bold">Get your payments weekly in fiat or crypto currency.</span>
              This is the first affiliate program which offers to get paid in crypto.
            </h4>
            <div class="col-6 mx-auto mt-5">
              <hr class="bg-light">
            </div>
            <h4 class="text-dark my-5 pb-4">We support next crypto currencies
            </h4>
          </div>
        </div>
      </div>
    </div>

    <!--non-physical crypto-block-->
    <div class="crypto-block">
      <div class="position-absolute col-md-12 mx-0 d-flex flex-row justify-content-center">
        <img class="crypto-item mx-1" src="./../assets/images/icons/crypto-b.png">
        <img class="crypto-item mx-1" src="./../assets/images/icons/crypto-c.png">
        <img class="crypto-item mx-1" src="./../assets/images/icons/crypto-l.png">
        <img class="crypto-item mx-1" src="./../assets/images/icons/crypto-d.png">
      </div>
      <div class="col-xl-10 col-lg-12 col-md-12 mx-auto pl-xl-0 pl-lg-0 pl-md-0 pr-xl-5 pr-lg-3 pr-md-0">
        <div class="d-flex flex-row justify-content-end">
          <div class="position-absolute float-coin">
            <img src="./../assets/images/environment/bit-coin.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <!--non-physical purple-block-->
    <div class="purple-block">
      <div class="col-md-6 mx-auto text-light text-center pt-5 ">
        <h1 class="font-weight-bold mt-5 mb-4">Promo tools</h1>
        <h4 class="py-md-4">Use converting promo materials made by our professional designers or create
          your own unique ads</h4>
        <hr class="bg-danger flat col-4 mx-auto my-4">
        <h4 class="py-md-4">Find in your affiliate account:</h4>
      </div>
    </div>

    <!--promo-banners-->
    <div class="promo-banners position-absolute container-fluid">
      <div class="col-xl-8 col-lg-11 col-md-12 mx-auto row text-center">
        <div class="col-md-3 banner-block">
          <div class="mx-lg-2 mx-md-2 rounded-strong bg-light volume-danger my-3">
            <h4 class="text-dark font-weight-bold pt-4 pb-3 px-1 mb-0">
              HTML 5<br> Banners
            </h4>
            <div class="banner-image px-2 pt-2 pb-4">
              <img src="./../assets/images/environment/html5-promo.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-3 banner-block">
          <div class="mx-lg-2 mx-md-2 rounded-strong bg-light volume-danger my-3">
            <h4 class="text-dark font-weight-bold pt-4 pb-3 px-1 mb-0">
              GIF<br> Banners
            </h4>
            <div class="banner-image px-2 pt-2 pb-4">
              <img src="./../assets/images/environment/gif-images.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-3 banner-block">
          <div class="mx-lg-2 mx-md-2 rounded-strong bg-light volume-danger my-3">
            <h4 class="text-dark font-weight-bold pt-4 pb-3 px-1 mb-0">
              Landing&nbsp;/<br> Popunders
            </h4>
            <div class="banner-image px-2 pt-2 pb-4">
              <img src="./../assets/images/environment/landing-popunders.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-3 banner-block">
          <div class="mx-lg-2 mx-md-2 rounded-strong bg-light volume-danger my-3">
            <h4 class="text-dark font-weight-bold pt-4 pb-3 px-1 mb-0">
              White<br> Label
            </h4>
            <div class="banner-image px-2 pt-2 pb-4">
              <img src="./../assets/images/environment/webdesign.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--label-block-->
    <div class="label-block">
      <div class="col-xl-8 col-lg-10 offset-xl-2 offset-lg-1">
        <div class="text-center col-xl-10 col-lg-9 col-md-7 mx-auto">
          <h1 class="text-dark font-weight-bold mt-5 pt-4">White label</h1>
          <h4 class="text-dark mt-3 col-md-10 mx-auto">
            Create your own Rasputin Online website on your domain, customize the design and send members there!
          </h4>
        </div>
        <div class="label-devices col-md-10 mx-auto">
          <img src="./../assets/images/environment/app-devices.png" alt="">
        </div>
      </div>
    </div>

    <!--pink-block-->
    <div class="pink-block support-block col-xl-12 px-0">
      <div
        class="col-xl-8 col-lg-12 col-md-12 offset-xl-2 offset-lg-1 offset-md-0 row d-flex flex-row align-items-stretch">
        <div class="col-6 mt-5 px-xl-3 px-lg-0 px-md-4">
          <h1 class="text-light font-weight-bold">
            24<span class="font-weight-bold h2 pr-1">/</span>7 <br>
            support&nbsp;team
          </h1>
          <h5 class="text-light mt-4 lh-medium">
            Have any questions? Not sure what earning option will suit the best? Our friendly support team is always
            ready
            to help you out and give some tips on conversion optimization and other questions.
          </h5>
        </div>
        <div class="col-6 support-image pt-5 d-flex flex-column justify-content-end">
          <img src="./../assets/images/environment/chicks.png" alt="">
        </div>
      </div>
    </div>

    <!--Registration-message block-->
    <div class="registration-message">
      <!--todo: добавлены искусственные отступы снизу, которые в дальнейшем стоит убрать-->
      <div class="position-absolute row col-lg-12 mb-5">
        <!--todo: добавлены искусственные отступы снизу, которые в дальнейшем стоит убрать-->
        <div class="col-xl-4 col-lg-6 col-md-6 mx-auto bg-light rounded-strong volume-danger py-5 mb-5">
          <h1 class="text-dark text-uppercase text-center font-weight-bold">Register now!</h1>
          <h4 class="text-dark text-center mt-3">and start earning with<br>most innovative<br> project!</h4>
          <div class="col-8 mx-auto mt-4">
            <a class="btn btn-lg btn-rasputin text-uppercase text-light font-weight-bold btn-block p-2"
               (click)="showRegistrationForm()">Sign up</a>
          </div>
        </div>
      </div>
    </div>

    <!--non-physical purple-block-->
    <div class="position-absolute purple-wave-block">
      <img src="./../assets/images/environment/pink-block-footer.png" alt="">
    </div>

    <!--rasputin-modal-window-->
    <rasputin-modal [isShowed]="isModalShowed" (blur)="hideModal()">
      <!--Ширина модального окна-->
      <div class="col-xl-3 col-lg-4 col-md-5">
        <rasputin-paper *ngIf="authShowed()">
          <h2 class="text-dark text-uppercase text-center font-weight-bold">Login form</h2>
          <app-auth-form [model]="model.authForm" (submit)="postAuthFormData()"></app-auth-form>
        </rasputin-paper>
      </div>
      <!--Ширина модального окна-->
      <div class="col-12 col-xl-10 col-lg-12 col-md-12">
        <rasputin-paper *ngIf="registrationShowed()">
          <h2 class="text-dark text-uppercase text-center font-weight-bold">Registration form</h2>
          <div class="mt-4">
            <app-registration-form [model]="model.registrationForm"
                                   (submit)="postRegistrationFormData()">
            </app-registration-form>
          </div>
        </rasputin-paper>
      </div>
    </rasputin-modal>


  </div>
</div>
