.modal-content {
  border-radius: 0;
}

.rounded-top-strong {
  border-top-left-radius: 0.8rem !important;
  border-top-right-radius: 0.8rem !important;
}

.rounded-bottom-strong{
  border-bottom-left-radius: 0.8rem !important;
  border-bottom-right-radius: 0.8rem !important;
}
