.header-wrapper {
  z-index: 2;
}

.profile-background {
  width: 100%;
  background: url("../../assets/images/environment/profile-background.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh;
  z-index: -1;
}

.profile-menu {
  z-index: 5;
}

.profile-menu-tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  & a {
    transition: color 0.15s ease-in-out 0.075s;
  }
  &:hover a {
    color: deeppink !important;
    text-decoration: none;
  }
}
